@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<EventViewModel>
@{
}

<div>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Location</th>
                <th>Days</th>
                <th>Time</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (EventViewModel em in Model)
            {
                <tr>
                    <td>@em.Name</td>
                    <td>
                        @{
                            if (em.Type == "F")
                            {
                                <span class="badge rounded-pill bg-success">Festival</span>
                            }
                            else if (em.Type == "S")
                            {
                                <span class="badge rounded-pill bg-primary">Season</span>
                            }
                        }
                    </td>
                    <td>@em.Location</td>
                    <td>@em.Days</td>
                    <td>@em.StartTime - @em.EndTime</td>
                    <td>
                        <div class="btn-group btn-group-sm" role="group" aria-label="Actions">
                            <button type="button" class="btn btn-secondary btn-detail"
                                    data-bs-toggle="modal" data-bs-target="#staticModalLg" data-id="@em.Id">
                                Detail
                            </button>
                            <button type="button" class="btn btn-primary btn-edit"
                                    data-bs-toggle="modal" data-bs-target="#staticModalLg" data-id="@em.Id">
                                Edit
                            </button>
                            <button type="button" class="btn btn-danger">Delete</button>
                        </div>
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>

<script>
    $(".btn-detail").click((e) => {
        $("#staticModalLgBody").load("/Event/Detail/" + $(e.target).data("id"))
    })

    $(".btn-edit").click((e) => {
        $("#staticModalLgBody").load("/Event/Edit/" + $(e.target).data("id"))
    })
</script>

<style scoped>
    a {
        cursor: pointer;
    }
</style>