@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<CropViewModel>;
@{
}

<div class="h3 my-4">@ViewBag.Title</div>
<div>
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Category</th>
                <th>Growth Time</th>
				<th>Regrowth Time</th>
                <th>Is Walkable</th>
                <th>Seasons</th>
                <th>Actions</th>
			</tr>
        </thead>
        <tbody>
        @foreach (CropViewModel crop in Model)
        {
            <tr>
                <td><img src="~/@ViewBag.ImageFolder/crops/@(crop.Id).png" width="40" /></td>
                <td>@crop.Name</td>
                <td>
                    @switch (crop.CategoryName)
                    {
                        case "Fruit":
                            <span class="badge rounded-pill bg-danger">Fruit</span>
                            break;
                        case "Vegetable":
                            <span class="badge rounded-pill bg-success">Vegetable</span>
                            break;
                        case "Flower":
                            <span class="badge rounded-pill bg-primary">Flower</span>
                            break;
                        default:
                            <span class="badge rounded-pill bg-secondary">Other</span>
                            break;
                    }
                </td>
                <td>
                    @{
                        if (crop.Unirrigated != null)
                        {
							<span>@crop.GrowthTime (Irrigated)<br />@crop.Unirrigated (Unirrigated)</span>
                        }
                        else 
                        {
                            <span>@crop.GrowthTime</span>
                        }
                    }
                </td>
                <td>@crop.RegrowthTime</td>
                <td>
                    @{
                        if (crop.IsWalkable)
                        {
                            <i class="fas fa-check-circle text-success"></i>
                        }
                        else
                        {
                            <i class="fas fa-times-circle text-danger"></i>
                        }
                    }
                </td>
                @*<td>@crop.Seasons</td>*@
                <td>
                    @foreach (Season season in crop.Seasons) 
                    {
                        <img src="~/@ViewBag.ImageFolder/seasons/@(season.Id).png" width="35" title="@season.Name" />
                    }
                </td>
                <td>
                    <div class="btn-group btn-group-sm" role="group" aria-label="Actions">
                            <button type="button" class="btn btn-warning btn-detail text-white"
									data-bs-toggle="modal" data-bs-target="#staticModalLg" onclick="loadDetailCrop(@crop.Id)">
                            <i class="fas fa-list-ul"></i>
                        </button>
                        <button type="button" class="btn btn-primary btn-edit"
                                    data-bs-toggle="modal" data-bs-target="#staticModalLg" onclick="loadEditCrop(@crop.Id)" disabled>
                            <i class="fas fa-edit"></i>
                        </button>
                        <button type="button" class="btn btn-danger" disabled><i class="fas fa-trash"></i></button>
                    </div>
                </td>
            </tr>
        }

        </tbody>
    </table>
</div>
<div class="mt-2 d-flex">
    <div class="ms-auto d-flex align-items-center gap-3">
        <div class="text-secondary">
            Showing <b>@(ViewBag.StartItem)-@(ViewBag.StartItem + ViewBag.PageSize - 1)</b> of <b>@ViewBag.TotalItems</b>
        </div>
        <nav aria-label="Page navigation">
            <ul class="pagination">
                @if (ViewBag.Page == 1)
                {
                    <li class="page-item disabled">
                        <a class="page-link" onclick="changePage(@ViewBag.Page-1)" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                }
                else
                {
                    <li class="page-item">
                        <a class="page-link" onclick="changePage(@ViewBag.Page-1)" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                }
                @for (int i = 1; i <= ViewBag.TotalPages; i++)
                {
                    if (i == ViewBag.Page)
                    {
                        <li class="page-item active"><a class="page-link" onclick="changePage(@i)">@i</a></li>
                    }
                    else
                    {
                        <li class="page-item"><a class="page-link" onclick="changePage(@i)">@i</a></li>
                    }
                }
                @if (ViewBag.Page == ViewBag.TotalPages)
                {
                    <li class="page-item disabled">
                        <a class="page-link" aria-label="Next" onclick="changePage(@ViewBag.Page+1)">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                }
                else
                {
                    <li class="page-item">
                        <a class="page-link" aria-label="Next" onclick="changePage(@ViewBag.Page+1)">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                }
            </ul>
        </nav>
    </div>
</div>

<script>
    function loadDetailCrop(id) {
        $("#staticModalLgBody").html(spinner);
        $("#staticModalLgBody").load("/Crop/Detail/" + id);
    }
    function loadEditCrop(id) {
        $("#staticModalLgBody").html(spinner);
        $("#staticModalLgBody").load("/Crop/Edit/" + id);
    }
    function changePage(page) {
        location.href = `/Crop?page=${page}`;
    }
</script>

<style scoped>
    table th, table td {
        text-align: center;
        vertical-align: middle;
    }
    
    .pagination {
        margin-bottom: 0;
    }

    a:hover {
        cursor: pointer;
    }
</style>