@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<Crop>;
@{
}

<div>
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Category</th>
                <th>Growth Time</th>
				<th>Regrowth Time</th>
                <th>Seasons</th>
                <th>Actions</th>
			</tr>
        </thead>
        <tbody>
        @foreach (Crop crop in Model)
        {
            <tr>
                <td></td>
                <td>@crop.Name</td>
                <td>@(crop.CategoryName ?? "-")</td>
                <td>@crop.GrowthTime</td>
                <td>@crop.RegrowthTime</td>
                <td>@(string.Join(", ", crop.Seasons.Select(s => s.SeasonName)))</td>
                <td></td>
            </tr>
        }

        </tbody>
    </table>
</div>