@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<Villager>;
@{
}

<div class="h3 my-4">@ViewBag.Title</div>
<div>
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Birthday</th>
                <th>Actions</th>
			</tr>
        </thead>
        <tbody>
        @foreach (Villager villager in Model)
        {
            <tr>
                <td><img src="~/@ViewBag.ImageFolder/villagers/@(villager.Id).png" width="70" /></td>
                <td>@villager.Name</td>
                <td>@{
                    switch (villager.Birthday / 28) 
                    {
                        case 0:
                            <span>Spring</span>
                            break;
                        case 1:
                            <span>Summer</span>
                            break;
                        case 2:
                            <span>Fall</span>
                            break;
                        case 3:
                            <span>Winter</span>
                            break;
                        default:
                            break;
                    }    
                
                } @(villager.Birthday % 28)</td>
                <td>
                    <div class="btn-group btn-group-sm" role="group" aria-label="Actions">
                        <button type="button" class="btn btn-warning btn-detail text-white"
                                data-bs-toggle="modal" data-bs-target="#staticModalLg" onclick="loadDetail(@villager.Id)" disabled>
                            <i class="fas fa-list-ul"></i>
                        </button>
                        <button type="button" class="btn btn-primary btn-edit"
                                    data-bs-toggle="modal" data-bs-target="#staticModalLg" onclick="loadEdit(@villager.Id)" disabled>
                            <i class="fas fa-edit"></i>
                        </button>
                        <button type="button" class="btn btn-danger" disabled><i class="fas fa-trash"></i></button>
                    </div>
                </td>
            </tr>
        }

        </tbody>
    </table>
</div>

<script>
    function loadDetail(id) {
        $("#staticModalLgBody").load("/Villager/Detail/" + id);
    }
    function loadEdit(id) {
        $("#staticModalLgBody").load("/Villager/Edit/" + id);
    }
</script>

<style scoped>
    table th, table td {
        text-align: center;
        vertical-align: middle;
    }
</style>